/* universal tag */
* {
    padding: 0;
    margin: 0;
}
/* nav is a tag  */
header {
    background: yellow;
}
nav {
    display: flex;
    
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding : 10px 0;
}
.container {
    max-width: 1170px;
    margin : 0 auto;
}

.link-parent {
    display: flex;
    gap: 20px ; 
    list-style: none;
    
}

.link-parent a {
    text-decoration: none;
}
.sign_in {
    color:#006A50 ;
    
    width: 116px;
    height: 52px;
    
    border-radius: 10px;



}   
